# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temps
*~

# UNKNOWN FILES
/.tmp_versions
*.cmd
*.order
*.mod.c
*.symvers

#compiled files
hello
